
.modal{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(180, 255, 180, 0.178);
    backdrop-filter: blur(2px);
    /* filter: blur(1.5rem); */
}

.modal-dialog{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    border-radius: 10px;
    height: 200px;
	width: 500px;
	position: relative;
	margin: 30vh auto;
	padding: center;
	text-align: center;
	background-color: whitesmoke;
    box-shadow: 0 0 20px rgb(51, 255, 0), inset 0 0 5px rgb(21, 255, 0);
}

.modal-close{
	position: absolute;
	top: 8px;
	right: 14px;
	font-size: 30px;
	cursor: pointer;
}

.modal-text{
    /* padding-top: 50px; */
    line-height: 40px;
}
